/*
Visibility Utilities

Markdown: Utility classes for showing and hiding elements at different breakpoints.

htmlclass: overflow-hidden

Weight: 1

Styleguide 4.20
*/

.u-hidden {
  display: none !important;
}

.u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.u-visible {
  display: block !important;
}
