div.form-field
  label.form-label(for="input-text") Text Input
  input.form-input(type="text" id="input-text" placeholder="Enter text…")

div.form-field
  label.form-label(for="input-email") Email
  input.form-input(type="email" id="input-email" placeholder="you@example.com")

div.form-field
  label.form-label(for="select-example") Select
  select.form-select(id="select-example")
    option(value="") Choose an option
    option(value="1") Option 1
    option(value="2") Option 2
    option(value="3") Option 3

div.form-field
  label.form-label(for="textarea-example") Textarea
  textarea.form-textarea(id="textarea-example" rows="3" placeholder="Write something…")

label.form-checkbox
  input(type="checkbox")
  span I agree to the terms
