/*
Settings

Styleguide 1.0
*/

/*
Colors

Colors:
primary: #3F5E5A
secondary: #009DCC

Styleguide 1.1
*/

/*
Elements

Styleguide 2.0
*/

/*
Headings

List of all headings with their respective styles.

Markup: <h1>Heading 1</h1><h2>Heading 2</h2>

Styleguide 2.1
*/

/*
Paragraph

A standard paragraph element.

Markup: <p>This is a sample paragraph with some text content.</p>

Styleguide 2.2
*/
