div.c-alert(class=modifierClass, role="alert")
  svg.c-alert__icon(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" aria-hidden="true")
    circle(cx="12" cy="12" r="10")
    path(d="M12 16v-4")
    path(d="M12 8h.01")
  div.c-alert__content
    | This is an alert message with important information for the user.
  button.c-alert__close(type="button" aria-label="Close")
    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" aria-hidden="true")
      path(d="M18 6 6 18")
      path(d="m6 6 12 12")
