article.c-card(class=modifierClass)
  div.c-card__header
    h3 Card Title
  div.c-card__body
    p This is the card body with some descriptive content that explains the purpose of this card.
  div.c-card__footer
    a(href="#") Read more →
