nav.c-nav(aria-label="Main navigation")
  a.c-nav__brand(href="#") Brand
  ul.c-nav__list
    li
      a.c-nav__link.c-nav__link--active(href="#" aria-current="page") Home
    li
      a.c-nav__link(href="#") About
    li
      a.c-nav__link(href="#") Services
    li
      a.c-nav__link(href="#") Contact
